[Unit]
Description=Yii2 Chat Service
After=network-online.target
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartSec=1
User=vagrant
ExecStart=/usr/bin/env php /app/yii chat-server/start

[Install]
WantedBy=multi-user.target
